<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>loadHomePage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>Controllers.PostController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/manager/post/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/manager/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/manager/post/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loadHomePage</servlet-name>
        <servlet-class>Controllers.loadHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAbout</servlet-name>
        <servlet-class>Controller.loadAbout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDoctor</servlet-name>
        <servlet-class>Controller.loadDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadHomePage</servlet-name>
        <url-pattern>/loadHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAbout</servlet-name>
        <url-pattern>/loadAbout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDoctor</servlet-name>
        <url-pattern>/loadDoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
