<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>loadHomePage</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <servlet>
        <servlet-name>loadDoctorDetail</servlet-name>
        <servlet-class>Controllers.loadDoctorDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>controller.manager.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostManagerController</servlet-name>
        <servlet-class>controller.manager.PostManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostList</servlet-name>
        <servlet-class>controller.user.PostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>controller.user.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDoctorController</servlet-name>
        <servlet-class>controller.manager.CreateDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <servlet-class>controller.manager.UpdateDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorListManage</servlet-name>
        <servlet-class>controller.manager.DoctorListManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileDetailManage</servlet-name>
        <servlet-class>controller.manager.DoctorProfileDetailManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error404Handler</servlet-name>
        <servlet-class>Controllers.Error404Handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxDoctorList</servlet-name>
        <servlet-class>controller.manager.AjaxDoctorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPostList</servlet-name>
        <servlet-class>controller.manager.AjaxPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPostLoadmore</servlet-name>
        <servlet-class>controller.manager.AjaxPostLoadmore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCreateCategory</servlet-name>
        <servlet-class>controller.manager.AjaxCreateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChildrenController</servlet-name>
        <servlet-class>Controllers.AddChildrenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadChildrenProfile</servlet-name>
        <servlet-class>Controllers.LoadChildrenProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChildrenProfile</servlet-name>
        <servlet-class>Controllers.UpdateChildrenProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChildrenController</servlet-name>
        <servlet-class>Controllers.DeleteChildrenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyByOldPassword</servlet-name>
        <servlet-class>Controllers.VerifyByOldPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListController</servlet-name>
        <servlet-class>controller.manager.CustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailController</servlet-name>
        <servlet-class>controller.manager.CustomerDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequestController</servlet-name>
        <servlet-class>controller.doctor.SendRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeShiftList</servlet-name>
        <servlet-class>controller.doctor.ChangeShiftList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeShiftListDoctor</servlet-name>
        <servlet-class>controller.manager.ChangeShiftListDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeShiftDoctor</servlet-name>
        <servlet-class>controller.manager.ChangeShiftDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controllers.LoadFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadDoctorDetail</servlet-name>
        <url-pattern>/loadDoctorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/manager/post/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/manager/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/manager/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostList</servlet-name>
        <url-pattern>/chuyen-muc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/bai-viet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyController</servlet-name>
        <servlet-class>Controllers.UserVerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controllers.UserProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loadHomePage</servlet-name>
        <servlet-class>Controllers.loadHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAbout</servlet-name>
        <servlet-class>Controllers.loadAbout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDoctor</servlet-name>
        <servlet-class>Controllers.loadDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadHomePage</servlet-name>
        <url-pattern>/loadHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAbout</servlet-name>
        <url-pattern>/loadAbout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDoctor</servlet-name>
        <url-pattern>/loadDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostManagerController</servlet-name>
        <url-pattern>/manager/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDoctorController</servlet-name>
        <url-pattern>/manager/doctor/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <url-pattern>/manager/doctor/profile/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorListManage</servlet-name>
        <url-pattern>/manager/doctor/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileDetailManage</servlet-name>
        <url-pattern>/manager/doctor/profile/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyController</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>Error404Handler</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxDoctorList</servlet-name>
        <url-pattern>/AjaxDoctorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxDoctorList</servlet-name>
        <url-pattern>/AjaxDoctorPaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPostList</servlet-name>
        <url-pattern>/AjaxPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPostList</servlet-name>
        <url-pattern>/AjaxPostPaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPostLoadmore</servlet-name>
        <url-pattern>/ajax/post/loadmore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCreateCategory</servlet-name>
        <url-pattern>/ajax/post/create-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChildrenController</servlet-name>
        <url-pattern>/addChildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadChildrenProfile</servlet-name>
        <url-pattern>/loadChildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChildrenProfile</servlet-name>
        <url-pattern>/updateChildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChildrenController</servlet-name>
        <url-pattern>/deleteChildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyByOldPassword</servlet-name>
        <url-pattern>/verifyByOldPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListController</servlet-name>
        <url-pattern>/manager/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailController</servlet-name>
        <url-pattern>/manager/user/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequestController</servlet-name>
        <url-pattern>/doctor/request/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeShiftList</servlet-name>
        <url-pattern>/doctor/request/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeShiftListDoctor</servlet-name>
        <url-pattern>/manager/doctor/shift/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeShiftDoctor</servlet-name>
        <url-pattern>/manager/doctor/shift/update</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
